// .grid--center

.header {
  @extend %margin-off;
  @extend %bright-text-color;
  @extend %flex;
  @extend %jc-center;
  position: fixed;
  left: 0;
  background: map-get($color-defs, header);
  flex: 0 10vw;
  backdrop-filter: blur(10px) saturate(150%);


  @include media('>=small') {
    flex: 1 100vw;
    max-width: 100vw;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100vw;
    padding: 0;

    // Makes sure padding is added after headeds fixed position
    ~ .header--after {
      margin-top: 0;
      padding-top: ratio(4, rem);
    }
  }
}

// .header__wrap {
//   display: flex;
//   width: 40vw;
//   justify-content: center;
//
//   @include media('>=small') {
//     width: auto;
//   }
// }
